<app-header></app-header>

<div class="row">
  <div class="col-md-12 my-2 p-2 bg-light text-dark">
    <h1 class="fs-1 fw-bold text-center">Dashboard</h1>
    <div class="row my-4">
      <div class="col-md-3 d-flex flex-column justify-content-center">
        <img
          src="/assets/undraw_books_re_8gea.svg"
          alt="img"
          class="img-fluid"
        />
      </div>
      <div
        class="col-md-3 d-flex flex-column justify-content-center border-end border-2 border-dark"
      >
        <p class="fw-bold fs-2 text-center">Courses: {{ countCourses() }}</p>
        <a class="btn btn-lg btn-link text-dark fw-bold">Create new</a>
        <a class="btn btn-lg btn-link text-dark fw-bold">View existing</a>
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center">
        <img
          src="/assets/undraw_notebook_re_id0r.svg"
          alt="img"
          class="img-fluid"
        />
      </div>
      <div class="col-md-3 d-flex flex-column justify-content-center">
        <p class="fw-bold fs-2 text-center">Users: {{ countUsers() }}</p>
        <a class="btn btn-lg btn-link text-dark fw-bold">Create new</a>
        <a class="btn btn-lg btn-link text-dark fw-bold">View existing</a>
      </div>
    </div>
  </div>
</div>
