<div class="container py-4">
  <app-header></app-header>
  <div class="row">
    <div class="col-md-6">
      <app-card
        title="Java Full Stack Developer" [isDark]="true"
        description="Learn more about the Java Full Stack Developer program. The course is designed to help you get started with the Java programming language and enable you to build a full-stack application developer based on Java. "
      ></app-card>
    </div>
    <div class="col-md-6">
      <app-card
        title="Java Cloud Developer" [isDark]="false"
        description="Learn more about the Java Full Cloud Developer program. The course is designed to help you get started with the Java programming language and enable you to build a cloud based application using Java."
      ></app-card>
    </div>
  </div>
</div>
