<div class="row p-3">
  <div class="col-md-6 col-sm-12 offset-md-2 bg-light text-dark p-4 rounded">
    <form>
      <h2 class="text-center p-3">Create a new Course</h2>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control form-control-lg"
          id="code"
          name="code"
          placeholder="C001"
        />
        <label for="code">Code</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control form-control-lg"
          id="title"
          name="title"
          placeholder="Course Title"
        />
        <label for="title">Ttile</label>
      </div>
      <div class="form-floating mb-3">
        <textarea
          name="description"
          id="description"
          cols="30"
          class="form-control form-control-lg"
        ></textarea>
        <label for="description">Description</label>
      </div>
      <div class="form-floating mb-3">
        <textarea
          name="topics"
          id="topics"
          cols="30"
          class="form-control form-control-lg"
        ></textarea>
        <label for="topics">Topics</label>
      </div>
      <button class="btn btn-primary btn-lg">Create</button>
    </form>
  </div>
</div>
